# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# Build files
dist/
build/

# Public assets (if not needed)
client/public/icons/
client/public/images/

# Sensitive files
.env
server/configs/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
*.swp
*.idea/
.vscode/
.qodo
